<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="../static/css/events.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="../scripts/events.js"></script>

</head>

<body>
  <div class="navbar">
    <img src=../static/images/YGlogo.png alt="logoImage">

    <!-- <label id="hamburgerIcon" for="toggle">&#9776;</label> -->
    <label id="hamburgerIcon" for="toggle" onclick="toggleNavBar()"><i id="hamburgerIcon2"
        class="fa fa-bars menu-toggle"></i></label>
    <input type="checkbox" id="toggle" />

    <div class="menu">
      <a href=./home.html id="homeLink">Home</a>
      <a href=./menu.html id="menuLink">Menu</a>
      <a href=./events.html id="eventsLink"><span id="underline">Events</span></a>
    </div>

  </div>

  <img src="../static/images/headerimage.png">
  <h3>Our Community Involvement</h3>
  <div class="topbox">
    <div class="top-pic">
      <img src="../static/images/image1.png">
    </div>
    <div class="top-text">
      <p>Yogurt World has been an integral part of the UC San Diego community for [ASK HOW MANY] years. As the first and
        only frozen yogurt shop on the UCSD campus, Yogurt World serves not only the many customers who come to visit UC
        San Diego, but also much of its student body, faculty, and staff. This establishment has been home to countless
        fundraisers over the years, as we collaborate often with UC San Diego’s many student-run organizations.<br><br>If
        you’re interested in working with us, please contact us at michaeltran4960@gmail.com.</p>
    </div>
  </div>

  <h3>Some Organizations We Have Previously Worked With...</h3>
  <div class="middlebox">
    <div class="toprow">
      <img src="../static/images/circlek.png" height="100px" width="100px">
      <img src="../static/images/masalogo.png" height="100px" width="200px">
      <img src="../static/images/wib.png" height="100px" width="100px">
      <img src="../static/images/dots.png" height="100px" width="100px">
    </div>
    <div class="bottomrow">
      <img src="../static/images/kplogo.png" height="100px" width="100px">
      <img src="../static/images/logo.png" height="100px" width="100px">
      <img src="../static/images/sangam.png" height="100px" width="250px">
    </div>
  </div>

  <h3>Our Fundraising Policy</h3>
  <div class="bottombox">
    <div class="bottom-text">
      <p>Yogurt World is available for fundraisers for your organization! Please contact us to schedule a date for your
        event.
        Our fundraising policy is as follows:</p>
      <ul>
        <li>The fundraiser runs from the opening of Yogurt World to our closing</li>
        <li>You must make your own flyers advertising the fundraiser. We honor both digital and paper flyers which must be
          shown at time of purchase. Please send a photo of
          the flyer to the owner (michaeltran4960@gmail.com) for approval at least a day before your scheduled fundraiser.
        </li>
        <li>Customers who present a fundraising flyer at checkout on fundraising day receive a 10% discount</li>
        <li>There will be a 15% donation of all proceeds made on the day of your fundraiser to your organization on
          purchases where your flyer was
          presented at checkout</li>
      </ul>
      <p>No flyering or promotion of the fundraiser is allowed inside or directly in front of the
        store. Yogurt World will contact your organization when the fundraiser check is ready (usually by the next day).
      </p>
      <button class="bottom-button">Contact Us</button>
    </div>
    <div class="bottom-pic">
      <img src="../static/images/image2.png">
    </div>
  </div>

</body>

</html>