  
<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="../static/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../scripts/events.js"></script>

  </head>

  <body>
    <div class="navbar">
      <img src= ../static/images/YGlogo.png alt="logoImage">

      <!-- <label id="hamburgerIcon" for="toggle">&#9776;</label> -->
      <label id="hamburgerIcon" for="toggle" onclick="toggleNavBar()"><i id="hamburgerIcon2" class="fa fa-bars menu-toggle"></i></label>
      <input type="checkbox" id="toggle"/>

      <div class="menu">
        <a href= ./home.html id="homeLink">Home</a>
        <a href= ./menu.html id="menuLink" >Menu</a>
        <a href= ./events.html id="eventsLink"><span id="underline">Events</span></a>
      </div>
      
    </div>
    
  </body>
</html>